<!-- <mat-drawer-container fullscreen class="example-container">
    <mat-drawer  mode="fixed" opened>
        <img src="https://i.postimg.cc/XX637GW0/sell.png" alt="logo">
        <h1>SELLCRAFT <br><span>GLOBAL</span><br> SOLUTIONS</h1>
    </mat-drawer> -->

<div class="fullcontainer">

    <mat-toolbar color="primary">
        <span class="fill-remaining-space"></span>
        <span > SELLCRAFT GLOBAL SOLUTIONS DAILY LOG</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

</div>

<div class="container">

    <mat-grid-list cols="2" rowHeight="800px">
    <mat-grid-tile>

    <div class="row">
        <div class="col" class="example-full-width">
            <mat-form-field>
                <input matInput placeholder="SGS Employee ID">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <input type="text" placeholder="SGS Employee Name" aria-label="Number" matInput
                    [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <mat-label>Client Name</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Internal Requirement ID">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <mat-label>Type of Hire</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="hire">
                    <mat-option *ngFor="let hire of type" [value]="hire.value">
                        {{hire.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <mat-label>Source</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="source">
                    <mat-option *ngFor="let source of sources" [value]="source.value">
                        {{source.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Profiles Submitted to Client" disabled>1
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Candidate Full Name ">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Candidate Mobile Number">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field>
                <input matInput placeholder="Candidate Email ID">
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <mat-label> Experience Range</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="exprange">
                    <mat-option *ngFor="let exprange of expranges" [value]="exprange.value">
                        {{exprange.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
</mat-grid-tile>

    <mat-grid-tile>
    <div class="row">
       

        <div class="col">

            <mat-form-field>
                <mat-label> Notice Period</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="notice">
                    <mat-option *ngFor="let notice of notices" [value]="notice.value">
                        {{notice.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <mat-label>Candidates Consent on Hire type</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="consent">
                    <mat-option *ngFor="let consent of consents" [value]="consent.value">
                        {{consent.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <input matInput placeholder="Current Location">
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <input matInput placeholder="Preferred Location">
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <mat-label>Willing to Relocate</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="relocate">
                    <mat-option *ngFor="let relocate of location" [value]="relocate.value">
                        {{relocate.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="col">

            <mat-form-field>
                <input matInput placeholder="Current CTC">
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <input matInput placeholder="Expected CTC">
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <input matInput placeholder="Technology/Skills">
            </mat-form-field>
        </div>

        <div class="col">

            <mat-form-field>
                <input matInput placeholder="Other skills">
            </mat-form-field>
        </div>

        <div class="col">

            <div class="form-group">

                <input type="file" id="file" (change)="handleFileInput($event.target.files)">
            </div>
        </div>
    </div>
    </mat-grid-tile>
</mat-grid-list>
<div id="wrapper">
    <button mat-raised-button color="primary">Submit</button>
</div>

</div>