<div class="fullcontainer">

    <mat-toolbar  color="primary">
        <span class="fill-remaining-space"></span>
        <span>Candidate selection form</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

</div>

<div class="container">
    <div class="row">
        <div class="col">

<mat-form-field>
    <input matInput placeholder="Your SGS ID">
</mat-form-field>
<br>
        </div>

        <div class="col">

<mat-form-field class="example-full-width">
    <input type="text" placeholder="Enter SGS Employee Name" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<br>
</div>

<div class="col">

<mat-form-field>
    <mat-label>Client Name</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
</div>



<div class="col">

<mat-radio-group>
    <mat-radio-button value="1">C2H</mat-radio-button>
    <mat-radio-button value="2">Direct Hire</mat-radio-button>
    <mat-radio-button value="2">Fixed Term</mat-radio-button>

</mat-radio-group>

<br>
</div>

<div class="col">

<mat-form-field>
    <mat-label>Selection date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<br>
</div>
</div>


<div class="row">
    <div class="col">

<mat-form-field>
    <mat-label>Internal Requirement ID</mat-label>
    <input matInput placeholder="Internal Requirement ID">
</mat-form-field>

<br>
</div>

<div class="col">

<mat-form-field>
    <input matInput placeholder="Candidate name">
</mat-form-field>

<br>
</div>

<div class="col">

<mat-form-field>
    <input matInput placeholder="Skills">
</mat-form-field>
<br>
</div>


<div class="col">

<mat-form-field>
    <mat-label>Select exp range</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="exprange">
        <mat-option *ngFor="let exprange of expranges" [value]="exprange.value">
            {{exprange.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
</div>



<!-- <mat-form-field>
    </mat-form-field> -->
    <div class="col">

<section class="example-section">
    <div>
        <mat-checkbox>Jan</mat-checkbox>
        <mat-checkbox>Feb </mat-checkbox>
        <mat-checkbox>Mar</mat-checkbox>
        <mat-checkbox>April</mat-checkbox>
        <mat-checkbox>May</mat-checkbox>
        <mat-checkbox>June</mat-checkbox>
    </div>
    <div>
        <mat-checkbox>July</mat-checkbox>
        <mat-checkbox>Aug</mat-checkbox>
        <mat-checkbox>Sep</mat-checkbox>
        <mat-checkbox>Oct</mat-checkbox>
        <mat-checkbox>Nov</mat-checkbox>
        <mat-checkbox>Dec</mat-checkbox>
    </div>
</section>
</div>

</div>


</div>