<div class="fullcontainer">

    <mat-toolbar  color="primary">
        <span class="fill-remaining-space"></span>
        <span>SELLCRAFT GLOBAL SOLUTIONS CANDIDATE SELECTION FORM </span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

</div>

<div class="container">
    <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
    
    <div class="row">
        <div class="col">

<mat-form-field>
    <input matInput placeholder="SGS Employee ID">
</mat-form-field>
<br>
        </div>

        <div class="col">

<mat-form-field class="example-full-width">
    <input type="text" placeholder="SGS Employee Full Name" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<br>
</div>

<div class="col">

<mat-form-field>
    <mat-label>Client Name</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
</div>


<div class="col">
    <mat-form-field>
        <mat-label>Type of Hire</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="hire">
            <mat-option *ngFor="let hire of type" [value]="hire.value">
                {{hire.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="col">

<mat-form-field>
    <mat-label>Candidate Selection date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<br>
</div>
</div>

</mat-grid-tile>
<mat-grid-tile>
<div class="row">
    <div class="col">

<mat-form-field>
    <mat-label>Internal Requirement ID</mat-label>
    <input matInput placeholder="Internal Requirement ID">
</mat-form-field>

<br>
</div>

<div class="col">

<mat-form-field>
    <input matInput placeholder="Candidate Fullname">
</mat-form-field>

<br>
</div>

<div class="col">

<mat-form-field>
    <input matInput placeholder="Technology/Skills">
</mat-form-field>
<br>
</div>


<div class="col">

<mat-form-field>
    <mat-label>Select exprience Range</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="exprange">
        <mat-option *ngFor="let exprange of expranges" [value]="exprange.value">
            {{exprange.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
</div>

    <div class="col">
        <mat-form-field>
            <mat-label>Expected Joinig Date</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="Date">
                <mat-option *ngFor="let Date of year" [value]="Date.value">
                    {{Date.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

</div>



</div>

</mat-grid-tile>
</mat-grid-list>
<div id="wrapper">
    <button mat-raised-button color="primary">Submit</button>
</div>
</div>