<div class="fullcontainer">

    <mat-toolbar color="primary">
        <span class="fill-remaining-space"></span>
        <span> SELLCRAFT GLOBAL SOLUTIONS REQUIREMENT FORM</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>

</div>

<div class="container">

    <mat-grid-list cols="2" rowHeight="600px">
        <mat-grid-tile>

            <div class="row">
                <div class="col">


                    <mat-checkbox class="example">New Requirment</mat-checkbox>
                    <mat-checkbox class="example">Drive!</mat-checkbox>
                </div>

                <div class="col">

                    <mat-form-field>
                        <input matInput placeholder="Client Requirement ID">
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <mat-label>Requirement Recieved Date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <mat-label>Client Name</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <mat-label>Type of Hire</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="hire">
                            <mat-option *ngFor="let hire of type" [value]="hire.value">
                                {{hire.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col">

                    <mat-form-field>
                        <mat-label>Select Experience Range</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="exprange">
                            <mat-option *ngFor="let exprange of expranges" [value]="exprange.value">
                                {{exprange.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <input matInput placeholder="Experience Range Notes">
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <input matInput placeholder="Technology/Skills">
                    </mat-form-field>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Location</mat-label>
                        <mat-select [formControl]="location" multiple>
                            <mat-option *ngFor="let place of locations" [value]="place">{{place}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <mat-label>Number of Positions</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="position">
                            <mat-option *ngFor="let position of positions" [value]="position.value">
                                {{position.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col">

                    <mat-form-field>
                        <mat-label>Sellcraft Account Manager</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="manager">
                            <mat-option *ngFor="let manager of managers" [value]="manager.value">
                                {{manager.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <input matInput placeholder="Sellcraft SPOC">
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <input matInput placeholder="Client SPOC">
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field>
                        <mat-label>Created by </mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="created">
                            <mat-option *ngFor="let created of createds" [value]="created.value">
                                {{created.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col">

                    <mat-form-field>
                        <input matInput placeholder="Notes (Drive,Date etc)">
                    </mat-form-field>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div id="wrapper">
        <button mat-raised-button color="primary">Submit</button>
    </div>
</div>